.homepage
{
background-color:#ffffff;
height:1977px;
width:1728px;
padding:0px;
top:3385px;
position:relative;
}
.placeholder-icon
{
background-color:#efeff0;
height:964px;
width:1728px;
padding:0px;
top:153px;
left:0px;
position:absolute;
}
.image
{
background-color:#ffffff;
height:138.24000549316406px;
width:138.24000549316406px;
padding:0px;
border-style:hidden;
outline:none;
top:413px;
left:795px;
position:absolute;
}
.iconly-light-outline
{
background-color:#ffffff;
height:138.24000549316406px;
width:138.24000549316406px;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
}
.image3
{
width:114.96730041503906px;
height:114.91085815429688px;
left:11.52px;
top:11.52px;
position:absolute;
}
.group3
{
width:114.96730041503906px;
height:114.91085815429688px;
top:11.52px;
left:11.52px;
position:absolute;
}
.clip2
{
background-color:#000000;
height:114.91085815429688px;
width:114.96730041503906px;
left:0px;
top:0px;
position:absolute;
}
.fill1
{
background-color:#61646b;
height:114.9120101928711px;
width:114.96959686279297px;
left:0px;
top:0px;
position:absolute;
}
.path
{
height:97.63201141357422px;
width:97.6895980834961px;
width:97.6895980834961px;
height:97.63201141357422px;
left:20.16px;
top:20.15px;
width:97.6895980834961px;
height:97.63201141357422px;
position:absolute;
}
.path2
{
height:114.9120101928711px;
width:114.96959686279297px;
width:114.96959686279297px;
height:114.9120101928711px;
left:11.52px;
top:11.51px;
width:114.96959686279297px;
height:114.9120101928711px;
position:absolute;
}
.fill4
{
background-color:#61646b;
height:32.463016510009766px;
width:85.82001495361328px;
left:14.57px;
top:54.97px;
position:absolute;
}
.fill6
{
background-color:#61646b;
height:28.85184097290039px;
width:28.85184097290039px;
left:23.35px;
top:26.66px;
position:absolute;
}
.path3
{
height:11.5718412399292px;
width:11.5718412399292px;
width:11.5718412399292px;
height:11.5718412399292px;
left:43.51px;
top:46.82px;
width:11.5718412399292px;
height:11.5718412399292px;
position:absolute;
}
.path4
{
height:28.85184097290039px;
width:28.85184097290039px;
width:28.85184097290039px;
height:28.85184097290039px;
left:34.87px;
top:38.18px;
width:28.85184097290039px;
height:28.85184097290039px;
position:absolute;
}
.arrow_right_alt_fill0_wght400_grad0_opsz481
{
background-color:#ffffff;
height:85px;
width:85px;
padding:0px;
left:1578px;
top:437px;
position:absolute;
}
.vector
{
background-color:#000000;
height:42.58854293823242px;
width:56.75520706176758px;
width:56.75520706176758px;
height:42.58854293823242px;
left:0px;
top:0px;
position:absolute;
}
.arrow_right_alt_fill0_wght400_grad0_opsz482
{
background-color:#ffffff;
height:85px;
width:85px;
transform:rotate(179deg);
padding:0px;
left:150px;
top:521px;
position:absolute;
}
.vector2
{
background-color:#000000;
height:42.58854293823242px;
width:56.75520706176758px;
width:56.75520706176758px;
height:42.58854293823242px;
left:0px;
top:0px;
position:absolute;
}
.loremipsumdolorsitamet,consecteturadipiscingelit
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:61.713619232177734px;
font-family:Work Sans;
line-height:70px;
border-style:hidden;
outline:none;
top:1238px;
left:227px;
position:absolute;
width:861px;
}
.loremipsumdolorsitamet,consecteturadipiscingelit.nullalobortisdapibusdignissim.crassodalesvulputateorci,rutrumblanditsapienmollisquis.etiamacvolutpatsem.fusceloremlacus,lobortisegeterosid,suscipitmattisnisl.curabiturquisegestasdolor,necblanditmauris.namvitaeliberofelis.aeneansapienelit,vestibulumvelrisusnec,pharetrasagittisaugue.morbisempersuscipitorcitemportristique
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:34px;
font-family:Work Sans;
line-height:45px;
border-style:hidden;
outline:none;
top:1483px;
left:227px;
position:absolute;
width:1275px;
}
.headerpublic
{
background-color:#ffffff;
height:152px;
width:1728px;
padding:0px;
top:1px;
left:0px;
position:absolute;
}
.group1
{
width:165.7888641357422px;
height:73.55142211914062px;
top:40px;
left:73px;
position:absolute;
}
.rectangle1
{
background-color:rgba(217, 217, 217, 0.5);
height:73.55142211914062px;
width:165.7888641357422px;
border-radius:10px;
top:40px;
left:73px;
position:absolute;
}
.logo
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:34.54584884643555px;
font-family:Work Sans;
left:115.54px;
top:56.69px;
width:81px;
height:41px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.login
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:34.54584884643555px;
font-family:Work Sans;
left:1118px;
top:56.1px;
width:91px;
height:41px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.signup
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:34.54584884643555px;
font-family:Work Sans;
left:1262.55px;
top:56.1px;
width:129px;
height:41px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.pills
{
background-color:#f7f4ff;
height:97px;
width:252.03631591796875px;
border-radius:40.54542922973633px;
padding-left:32.436344146728516px;
padding-right:32.436344146728516px;
padding-top:20.272714614868164px;
padding-bottom:20.272714614868164px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:12.163629531860352px;
position:absolute;
top:28px;
left:1439px;
}
.egg_alt_fill0_wght400_grad0_opsz481
{
background-color:#ffffff;
height:48px;
width:48px;
align-self:flex-start;
left:32.43px;
top:24.5px;
position:absolute;
padding:0px;
}
.vector3
{
background-color:#3a00e5;
height:40px;
width:40.002315521240234px;
width:40.002315521240234px;
height:40px;
left:3.99px;
top:3.99px;
width:40.002315521240234px;
height:40px;
position:absolute;
}
.generaterecipe
{
color:#3a00e5;
text-align:left;
vertical-align:text-middle;
font-size:28.38180160522461px;
font-family:Work Sans;
align-self:flex-start;
left:92.59px;
top:19px;
position:absolute;
line-height:29.5px;
border-style:hidden;
outline:none;
width:127px;
display:flex;
}
.pills2
{
background-color:#3a00e5;
height:87.7227783203125px;
width:346px;
border-radius:43.722774505615234px;
padding-left:36.435646057128906px;
padding-right:36.435646057128906px;
padding-top:21.861387252807617px;
padding-bottom:21.861387252807617px;
display:flex;
flex-direction:column;
gap:10.930693626403809px;
border-style:hidden;
outline:none;
top:1748px;
left:227px;
position:absolute;
}
.label
{
color:#ffffff;
text-align:left;
vertical-align:text-middle;
font-size:16px;
font-family:Work Sans;
left:37.5px;
top:21.86px;
width:271px;
height:44px;
position:absolute;
letter-spacing:0.20000000298023224px;
line-height:24px;
border-style:hidden;
outline:none;
}
